.pt-5{
    width: auto;
    
}
.row{
    background-color:rgb(187, 177, 177);
   
}
.HotelData{
    height: 800px;
}
.hotels{
    background-color: rgb(124, 81, 81);
   
}
.googlemap{
    background-color: rgb(63, 40, 40);
    color: white;
}